<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="index.html">Home</a></li>
                    <li role="presentation"><a href="register">Register</a></li>
                    <li role="presentation"><a href="vote">Vote</a></li>
                </ul>
            </nav>
            <h1 class="text-muted">Survey Application</h1>
        </div>
        <div class="jumbotron">
            <h2></h2>
            <p class="lead">Register new user and complete the survey.</p>
            <a class="btn btn-success" href="register" role="button">Register</a>
            <a class="btn btn-success" href="login" role="button">Login</a>
        </div>
        <footer class="footer">
            <p> Served by {{hostname}}</p>
            <p> &copy; Cotiviti 2019</p>
        </footer>
    </div>
</body>
</html>
